.conteudo {
    background: #232f3e;
    border: 1px solid black;
    width: 200px;
    height: 200px;
    margin: 5px;
    color: blanchedalmond;
    text-align: center;
    float: left;
}

/* .conteudo1 {
    background: #232f3e;
    border: 1px solid black;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    color: blanchedalmond;
    text-align: center;
    float: right;
} */

.clear{
    clear: both;
}

#principal{
    background-color: #ff9900;
    border: cornflowerblue 5px solid;
}